*.class

# Package Files #
*.war
*.ear

# Cannot ignore .jar files due to libraries #
#*.jar

# Eclipse workspace #
*.snap
.metadata
!version.ini
!.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
!.plugins/org.eclipse.core.resources/.projects/*/.location
!.metadata\.plugins\org.eclipse.core.resources\.root
!.metadata\.plugins\org.eclipse.core.resources\.safetable
!.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
